:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #009988;
    --secundario: #7bc62d;
    --gris: #757575;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /*1rem = 10px*/
    font-family: 'Balsamiq Sans', cursive;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

.main-nav a {
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
}

.main-nav a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}